#intro-overlay {
  position: fixed; /* cover viewport */
  inset: 0; /* Cover the entire viewport */
  background-color: black;
  color: rgb(93, 207, 12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's on top of all other content, might change later... */
}

.terminal {
    text-align: left;
    width: 80%;
}

#matrix-text {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.welcome-container {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

button {
    background-color: black;
    color: rgb(93, 207, 12);
}

.video-wrapper {
    position: fixed;
    inset: 0;
    display: none; /* start hidden */
    align-items: center;
    justify-content: center;
    pointer-events: none; /* lets the user click through the video */
    z-index: 10000; /* above overlay element? */
    background-color: black;
}

.gc-boot {
  position: absolute;
    display: none;
    width: 80vw; /* vw is responsive width */
    height: 80vh; /* responsive height */
    object-fit: contain;
}

.ps2-boot {
    display: none;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

 /* attempt to make a class for content area fading in */
#content-area {
  opacity: 0;
}

main {
  align-self: center;
  max-width: 80%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at center, #001010 0%, #000000 100%);
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

h1, h2 {
  display: flex;
  justify-content: center;
  text-shadow: 0 0 6px #00ffff, 0 0 20px #009999;
}

strong {
  padding-left: 1rem;
}

a {
  color: #ff00cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0 0 5px #ff00ff,  0 0 10px #ff00ff ;
}

body.gamecube {
  background-color: #000000;
  background-image: url("gamecube-boot.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

body.ps2 {
  background-image: url("PS2-background.jpg");
  background-color: #000000;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}


/*class gets added when you press Enter */
#intro-overlay.hidden {
  animation: fadeOut 2s forwards;
}


.gc-boot.hidden {
  animation: fadeOut 1s forwards;
}

.video-wrapper.hidden {
  animation: fadeOut 2s forwards;
}

.welcome-container.visible{
  animation: fadeIn 3s forwards;
}

/* make a fade in class instead */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}