#intro-overlay {
  position: fixed; /* cover viewport */
  inset: 0; /* Cover the entire viewport */
  background-color: black;
  color: rgb(93, 207, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's on top of all other content, might change later... */
}

.terminal {
    text-align: left;
    width: 80%;
}

#matrix-text {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    white-space: pre-wrap;
    line-height: 1.4;
    margin-bottom: 2rem;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

button {
    background-color: black;
    color: rgb(93, 207, 12);
}

main {
  align-self: center;
  max-width: 80%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(circle at center, #001010 0%, #000000 100%);
  color: #00ffcc;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

h1, h2 {
  display: flex;
  justify-content: center;
  text-shadow: 0 0 6px #00ffff, 0 0 20px #009999;
}

a {
  color: #ff00cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-shadow: 0 0 5px #ff00ff;
}

.gamecube {
  background-color: #000000;
  background-image: url("gamecube-boot.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

/* .gamecube-page {

} */

/*class gets added when you press Enter */
#intro-overlay.hidden {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}